
@media (min-width: 768px){
.navbar-expand-md .navbar-nav {
    justify-content:space-between;
    width:100%;
    }
}



.card-img-top{max-height:300px;
    min-height: 300px;
    object-fit: contain;

}
.login{font-size: medium;
text-align: center;}
body{
    background:pink;
}
h1{font-size: larger; font-display: auto; text-align: center;}

.nav-item { margin:1em;
    align-content: center;

}
.border-radius {font-weight: bold;
    text-align:center;
}
.carousel-inner{ object-fit: cover;
    object-position: center;
    max-width: 100vw;
    object-fit: border-color black;
    overflow: hidden;
    height:40rem;
}
.products{display: inline-block;}

h6{text-align:center}

footer{
    background-color: lightsalmon;
    margin-top: 5%;
}
